.navbar {
  width: 100%;
  padding: 30px 0;
  box-sizing: border-box;
  margin-bottom: 80px;
}
.navbar ul {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: flex-end;
}
.navbar .logo {
  font-weight: bold;
  color: var(--heading-color);
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  margin-right: auto;
}
.navbar .logo img {
  margin-right: 10px;
  filter: invert(25%);
  width: 36px;
  margin-top: -8px;
}
.navbar a {
  color: #333;
  text-decoration: none;
  margin-right: 20px;
}

.navbar ul li a.active {
  background-color: var(--bg-color); /* Set the background color of the active NavLink */
  color: var(--primary-color); /* Set the text color of the active NavLink */
  font-weight: 300; /* Optionally set the font weight of the active NavLink */
  font-size: 25px;
  
 font-family:  'Poppins';
  /* Add any other styles as desired */
  transform: scale(1.1); /* Add a scaling transform */
  transition: transform 0.3s ease-in-out; /* Add a transition for smooth animation */
}

.navbar ul li a:hover {
  transform: scale(1.1); /* Add scaling transform on hover */
  transition: transform 2s ease-in-out; /* Add transition on hover */
}

.navbar ul li a.active::before {
  content: '';
  position: absolute;
  font-family: 'Poppins';
  width: 8px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(92, 91, 91, 0.8);
  animation: smoke 7s infinite ease-in-out;
}

@keyframes smoke {
  0% {
    opacity: 0;
    transform: translate(0, 0) scale(0.5);
  }
  30% {
    opacity: 0.50;
    transform: translate(60px, -40px) scale(2);
  }
  60% {
    opacity: 0.7;
    transform: translate(40px, -80px) scale(1.5);
  }
  100% {
    opacity: 0;
    transform: translate(60px, -120px) scale(3);
  }
}
